In [ ]:
fruits=['apple','guava','orange','989']
print(fruits[3][2])

In [ ]:
tup1=[1,2,3]
print(tuple(tup1))

In [ ]:
tup3=(6,8,90)
print(list(tup3))

In [105]:
dict={'name':'bhuvv','name':'bhhh'}
print(dict['name'])

bhhh

In [ ]:
lis1=list((4,6,7))
print(type(lis1))

In [ ]:
lis1=tuple((5,6,7))
print(type(lis1))

In [ ]:
lis1=set((4,6,7))
print(type(lis1))

In [ ]:
lis1=dict(age=20)
print(type(lis1))

In [13]:
job_list=['QA','Admin','Developer','Graphic designer','Web developer','Front-end developer','IT']
set1=set(job_list)
type(set1)

set

In [15]:
tup1=tuple(set1)
type(tup1)

tuple

In [ ]:
tup1
set1
job_list

In [14]:
job_list.append('Back-end developer')

In [67]:
job_list

['Back-end developer',
 'Business analyst',
 'Developer',
 'Graphic designer',
 'Manager',
 'QA',
 'Web developer']

In [18]:
job_list.remove('IT')

In [19]:
job_list1=['Manager','HR']
job_list.extend(job_list1)

In [21]:
job_list.insert(1,'CEO')

In [26]:
job_list.pop(1)

'CEO'

In [28]:
job_list.pop()

'HR'

In [30]:
job_list.index('Developer')

2

In [53]:
job_list.count('Developer')

1

In [66]:
job_list.sort()

In [36]:
job_list.sort(reverse=True)

In [54]:
job_list.sort(key=len)

In [39]:
job_list.reverse()

In [47]:
job_list2=job_list.copy()
job_list2

['Admin',
 'Back-end developer',
 'Developer',
 'Front-end developer',
 'Graphic designer',
 'Manager',
 'QA',
 'Web developer']

In [42]:
job_list2.clear()
job_list2

[]

In [52]:
id(job_list2[3])

2211349365424

In [51]:
id(job_list[3])

2211349365424

In [56]:
job_list[1]='Business analyst'

In [61]:
job_list

['Admin',
 'Back-end developer',
 'Developer',
 'Front-end developer',
 'Graphic designer',
 'Manager',
 'QA',
 'Web developer']

In [71]:
tup=(6,7,8)
tup1=(6,7,8)

In [73]:
tup2=tup+tup1
tup2

(6, 7, 8, 6, 7, 8)

In [75]:
x,y,z=tup
print(f"x:{x} y:{y} z:{z}") #tuple unpacking

x:6 y:7 z:8

In [76]:
list1=[5,6,7]
x,y,z=list1
print(f"x:{x} y:{y} z:{z}") #list unpacking

x:5 y:6 z:7

In [78]:
tup3=tup+(6,8)
tup3

(6, 7, 8, 6, 8)

In [79]:
dict1={'name':'bhu','age':20,'city':'Rayagiri'}
print(dict1, type(dict1), id(dict1))

{'name': 'bhu', 'age': 20, 'city': 'Rayagiri'} <class 'dict'> 2211350050560

In [81]:
print(dict1['name'])
print(dict1['age'])
print(dict1.get('city'))

bhu
20
Rayagiri

In [82]:
keys=dict1.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [83]:
keys=dict1.values()
print(keys)

dict_values(['bhu', 20, 'Rayagiri'])

In [92]:
keys=dict1.items()
print(keys)

dict_items([('name', 'Bhu'), ('age', 20)])

In [85]:
dict1.update({'name':'Bhu'})
print(dict1)

{'name': 'Bhu', 'age': 20, 'city': 'Rayagiri'}

In [99]:
dict1.pop('city')

('name', 'Bhu')

In [89]:
dict2 = dict1.get("city", "Rayagiri")
print(dict2)

Rayagiri

In [95]:
keys=dict1.items()
print(keys)

dict_items([('name', 'Bhu'), ('age', 20)])

In [96]:
dict1.popitem()

('age', 20)

In [101]:
dict3=dict1.copy()
dict3

{}

In [102]:
dict3.update({'name':'Bhu','age':20})

In [106]:
dict1

{}

In [109]:
dict3

{'name': 'Bhu', 'age': 20, 'city': 'Rayagiri'}

In [108]:
dict4=dict3 #shallow copy
dict4.update({'city':'Rayagiri'})

In [111]:
x = {"apple", "banana", "cherry"}
y = {"apple","google", "microsoft", "facebook"}
z = x.isdisjoint(y) 
print(z)

False

In [112]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

In [113]:
set1={5,7,8}
set1.add(45)

In [115]:
set1.remove(45)

In [116]:
set1

{5, 7, 8}

In [117]:
set2={5,9,3}
set1.difference(set2)

{7, 8}

In [118]:
set1.union(set2)

{3, 5, 7, 8, 9}

In [120]:
set1.intersection(set2)

{5}

In [124]:
set1.discard(5)

In [125]:
set1

{7, 8}

In [129]:
my = ['lili', 'lisa', 'william', 'tarla']
uppered = list(map(str.upper, my))
print(uppered)

['LILI', 'LISA', 'WILLIAM', 'TARLA']

In [132]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_nums = list(filter(lambda x: x % 2 == 0, numbers))
print(even_nums)

[2, 4, 6, 8]

from 5 to 100 if the difference between the numbers is 8 then sum all that numbers

In [168]:
from functools import reduce
def sum(x,y):
    return x+y
square=list(map(lambda x:x,range(5,101,8)))
sq1=reduce(sum,square)
print(square)
print(sq1)

[5, 13, 21, 29, 37, 45, 53, 61, 69, 77, 85, 93]
588

from 1 to 100 if the ending value is 5 square that values

In [155]:
square=list(filter(lambda x:x%10==5,range(1,100)))
sq1=list(map(lambda x:x**2,square))
print(square)
print(sq1)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]
[25, 225, 625, 1225, 2025, 3025, 4225, 5625, 7225, 9025]

Given the 1,2,4,..128 upto 128 and summation

In [176]:
from functools import reduce
sq=list(map(lambda x:2**x,range(0,8)))
sq1=reduce(lambda x,y:x+y,sq)
print(sq)
print(sq1)

[1, 2, 4, 8, 16, 32, 64, 128]
255

create a list containing 5 company names to uppercase lowercase titlecase

In [179]:
company=['busoft','trigent','tcs','zoho','solartis']
upper=list(map(str.upper,company))
print(upper)
lower=list(map(str.lower,company))
print(lower)
title=list(map(str.title,company))
print(title)

['BUSOFT', 'TRIGENT', 'TCS', 'ZOHO', 'SOLARTIS']
['busoft', 'trigent', 'tcs', 'zoho', 'solartis']
['Busoft', 'Trigent', 'Tcs', 'Zoho', 'Solartis']

In [188]:
upper1=[x.upper() for x in company ]
print(upper1)

['BUSOFT', 'TRIGENT', 'TCS', 'ZOHO', 'SOLARTIS']

In [190]:
lower1=[x.lower() for x in company ]
print(lower1)

['busoft', 'trigent', 'tcs', 'zoho', 'solartis']

In [189]:
title1=[x.title() for x in company ]
print(title1)

['Busoft', 'Trigent', 'Tcs', 'Zoho', 'Solartis']